*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#mainContent{
    width: 100%;
    height: 100vh;
    background-color: #74121D;
    position: relative;
    display: flex;
    flex-direction: column;
}

#header{
    width:  100%;
    height: 10rem;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

#mainLogo{
    width: 100%;
    height: 100%;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#headerTxt{
    width: 100%;
    height: 100%;
    background-color: black;
}

#addAnything{
    width: 100%;
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accentCircle1{
    position: absolute;
    right: -20%;
    top: -10%;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: #3083DC;
    filter:blur(85px)
}
#accentCircle2{
    position: absolute;
    right: -20%;
    bottom: -10%;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: #3083DC;
    filter:blur(85px)
}
#accentCircle3{
    position: absolute;
    right: -30%;
    top: 20%;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: #3083DC;
    filter:blur(85px)
}

#bottomContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#leftBottom{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    background-color: green;
}

#rightBottom{
    width: 100%;
    height: 100%;
}

#leftBottomTop{
    width: 100%;
    height: 100%;
    background-color: red;
}

#leftBottomDown{
    width: 100%;
    height: 100%;
    background-color: yellow;
}

#mainLogoContainer{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainLogoTxtContainer{
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family: 'IBM plex sans';
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#headerMainTxtContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background-color: teal;
}

#addAnythingCircle{
    width: 60%;
    height: 100%;
    border-radius: 80%;
    background-color: white;
    z-index: 8;
    color: black;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}